[submodule "class39/rap-names-api"]
	path = class39/rap-names-api
	url = https://github.com/SiriusScaper/rap-names-api.git
[submodule "class39/filoni-sw-characters"]
	path = class39/filoni-sw-characters
	url = https://github.com/SiriusScaper/filoni-sw-characters.git
[submodule "class12/class39/star-trek-api-practice"]
	path = class12/class39/star-trek-api-practice
	url = https://github.com/SiriusScaper/star-trek-api-practice.git
[submodule "class39/star-trek-api-practice"]
	path = class39/star-trek-api-practice
	url = https://github.com/SiriusScaper/star-trek-api-practice.git
[submodule "class42/todo-list-express"]
	path = class42/todo-list-express
