body {
	margin: 0;
	padding: 0;
  background: aqua;
}

header {
	background-color: #333;
	height: 50px;
	padding: 10px;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	float: left;
	margin-left: 20px;
}

nav a {
	display: block;
	color: #fff;
	text-decoration: none;
}

section {
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.section1 {
	background-image: url('section1-bg.jpg');
}

.section2 {
	background-image: url('section2-bg.jpg');
}

.section3 {
	background-image: url('section3-bg.jpg');
}

.section4 {
	background-image: url('section4-bg.jpg');
}

.section5 {
	background-image: url('section5-bg.jpg');
}

.content {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

footer {
	background-color: #333;
	height: 50px;
	padding: 10px;
	color: #fff;
	text-align: center;
}


@media only screen and (max-width: 768px) {
  nav {
    float: none;
  }

  nav li {
    float: none;
    margin-left: 0;
  }
}