/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  max-width: 70%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.77;
}

nav > a, li > a, main a, span > a, section h3 {
  font-family: 'Roboto', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
nav, main, aside {
  float: left;
  width: 12%;
}

ul {
  list-style: none;
  padding: 0;
}


nav {
  padding: 30px 20px 0 30px;
}

nav>a {
  display: block;
}


main {
  width: 58%;
}

main>a>h1 {
  margin: 0;
}

main span {
  color: black;
}

main span+a>img {
  width: 80%;
  height: 490px;
  display: block;
}

aside {
  width: 30%;
}

aside + section {
  margin: 4% 0 0 12%;
  clear: both;
}


.latest-news  section {
  float: left;
  width: 33.3333%;
  display: block;
}

section>img {
  width: auto;
  height: 230px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
a {
  text-decoration: none;
  color: rgb(12, 12, 12);
}

a:hover {
  color: rgb(127, 127, 127);
}

nav a:hover {
  color: rgb(91, 169, 116);
}