/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  max-width: 70%;
  font-family: "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.77;
}


/******************************************
/* LAYOUT
/*******************************************/
nav, main, aside {
  float: left;
  width: 12%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  width: 58%;
}

img {
  width: 80%;
  height: auto;
}

aside {
  width: 30%;
}

aside + section {
  margin: 4% 0 0 12%;
  clear: both;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/