/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Martel Sans', sans-serif;

}


/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 40.5px;
  padding-bottom: 1.5px;
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

nav * {
  float: left;
  width: 10%;
  color: rgba(255, 255, 255, 1);
  display: block;
}

nav {
  margin-left: 20%;
  margin-right: 20%;
}

nav img {
  width: 75%;
  height: 40px;
}

li > .signin {
  width: 4px;
  display: block;
}

.fa-solid {
  color: white;
  width: 5px;
}

nav ul {
  width: 60%;
}

nav form input {
  width: 100%;
  margin-top: 8px;
}


section .first {
  background-color: rgba(0, 0, 0, 0.5);
}


.first {
  float: left;
  width: 616px;
  height: 346.5px;
  margin-right: 6px;
  clear: both;
}

.first h1, .first p, .first span {
  margin-left: 2%;
}

.first h1 {
  margin-top: 230px;
  font-size: 1.7rem;
  font-weight: 600;
}

.first p {
  font-size: 1rem;
}

.first > span > a, .first p {
  color: rgb(204, 206, 207);
}

.first > a, .small-headline > a {
  color: rgba(255, 255, 255, 1);
}

.small-headline span > a {
  color: rgb(204, 206, 207);
}

span > time {
  color: rgb(167, 167, 167);
}

.small-headline {
  height: 168.75px;
  width: 300px;
  padding: 0 8px;
  float: left;
  margin: 0 6px;
}

.small-headline a {
  padding-left: 2%;
}

.first span {
  color: rgb(232, 61, 28);
}

.second span {
  color: rgb(101, 184, 235);
}

.third span {
  color: rgb(232, 61, 28);
}

.fourth span {
  color: rgb(101, 184, 235);
}

.fifth span {
  color: rgb(93, 82, 167);
}

.small-headline > a {
  display: block;
  margin-top: 100px;
  font-size: .8rem;
  
}

.headlines {
  margin: 1.6% 20% 0 20%;
}

h2 {
  clear: left;
  margin-top: 0;
}

h2 a {
  color: rgb(81, 81, 81);
}

h2>span {
  padding-left: 48%;
}

img {
  border: none;
}

.stories {
  width: 405.333px;
  height: 362.4px;
  margin: 0 5px;
  float: left;
  /* margin: -5px; */
}

.stories a {
  color: rgba(0, 0, 0, 1);
}

.news {
  margin: 0 20%;
}

.news > h2 {
  padding-top: 4%;
  color: rgb(230, 78, 43);
}


.stories > a > img {
  width: 405.333px;
}

footer {
  
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
a:link, li{
  text-decoration: none;
  list-style: none;
}

.small-img {
  background-repeat: no-repeat;
}

.first, .second, .third, .fourth, .fifth {
  box-shadow: rgba(0, 0, 0, .24) 0 0 0 1000000px inset;
}

.first {
  background: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/1676D/production/_113931029_composite.jpg) no-repeat;
  background-size: 616px;
}

.first ::after {
  background: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/1676D/production/_113931029_composite.jpg) no-repeat;
  background-size: 616px;
} 

.second {
  background-image: url(https://ichef.bbci.co.uk/news/416/cpsprodpb/D39B/production/_113917145_gettyimages-144092698.jpg);
  margin-bottom: 9px;
}

.third {
  background-image: url(https://ichef.bbci.co.uk/news/416/cpsprodpb/1771/production/_113910060_gettyimages-1219401083.jpg);
  margin-bottom: 9px;
}

.fourth {
  background-image: url(https://ychef.files.bbci.co.uk/624x351/p08ngz84.jpg);
}

.fifth {
  background: url(https://ichef.bbci.co.uk/news/416/cpsprodpb/C385/production/_90135005_mediaitem90135004.jpg);
}
