* {
  box-sizing: border-box;
}

header,
footer {
  background: rgb(225, 90, 90);
  width: 100%;
  height: 150px;
  border: 2px black solid;
  clear: both;
}

section {
  float: left;
  width: 33.3333%;
  height: 350px;
  background: rgb(119, 185, 217);
  border: 2px black solid;
}